.container {
    display: flex;
    flex: 1;
}

.main-content {
    flex: 1;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    margin-left: 10px; /* Espacio entre sidebar y contenido */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}
